<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kdk.romanticrun.mapper.CommentMapper">


    <insert id="PublishComment" parameterType="com.kdk.romanticrun.pojo.Comment">
        insert into comment (cid, uid, fuid, content, commenttime) values (#{cid}, #{uid}, #{fuid}, #{content}, #{commentTime})
    </insert>

    <select id="queryAllCommentByCid" resultType="com.kdk.romanticrun.pojo.Comment">
        select * from comment where cid=#{cid}
    </select>

</mapper>

