<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kdk.romanticrun.mapper.FreeRunMapper">

    <insert id="insertUserFreeRun" parameterType="com.kdk.romanticrun.pojo.FreeRun">
        insert into freerun (uid, totalmile, rundate, runtime) values (#{uid}, #{totalMile}, #{runDate}, #{runTime})
    </insert>

    <select id="queryFreeRunByUid" parameterType="com.kdk.romanticrun.pojo.FreeRun" resultType="com.kdk.romanticrun.pojo.FreeRun">
        select * from freerun where uid=#{uid}
    </select>

    <select id="queryFreeRunByUidForDay" parameterType="com.kdk.romanticrun.pojo.FreeRun" resultType="com.kdk.romanticrun.pojo.FreeRun">
        select * from freerun where to_days(now()) = to_days(rundate)
    </select>

    <select id="queryFreeRunByUidForWeek" parameterType="com.kdk.romanticrun.pojo.FreeRun" resultType="com.kdk.romanticrun.pojo.FreeRun">
        select * from freerun where to_days(now()) - to_days(rundate) &lt;= 7 AND to_days(now()) - to_days(rundate) >= 0
    </select>

    <select id="queryFreeRunByUidForMonth" parameterType="com.kdk.romanticrun.pojo.FreeRun" resultType="com.kdk.romanticrun.pojo.FreeRun">
        select * from freerun where to_days(now()) - to_days(rundate) &lt;= 30 AND to_days(now()) - to_days(rundate) >= 0
    </select>


</mapper>