<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kdk.romanticrun.mapper.RomanticRunMapper">


    <insert id="insertUserRomanticRun" parameterType="com.kdk.romanticrun.pojo.RomanticRun">
        insert into romanticrun (uid, totalmile, rundate, runtime) values (#{uid}, #{totalMile}, #{runDate}, #{runTime})
    </insert>

    <select id="queryRomanticRunByUid" parameterType="java.lang.String" resultType="com.kdk.romanticrun.pojo.RomanticRun">
        select * from romanticrun where uid=#{uid}
    </select>

    <select id="queryRomanticRunForDay" resultType="com.kdk.romanticrun.pojo.RomanticRun">
        select * from romanticrun where to_days(now()) = to_days(rundate)
    </select>

    <select id="queryRomanticRunForWeek" resultType="com.kdk.romanticrun.pojo.RomanticRun">
        select * from romanticrun where to_days(now()) - to_days(rundate) &lt;= 7 AND to_days(now()) - to_days(rundate) >= 0
    </select>

    <select id="queryRomanticRunForMonth" resultType="com.kdk.romanticrun.pojo.RomanticRun">
        select * from romanticrun where to_days(now()) - to_days(rundate) &lt;= 30 AND to_days(now()) - to_days(rundate) >= 0
    </select>

    <delete id="deleteRomanticRun" parameterType="java.lang.String">
        delete from romanticrun where uid=#{uid}
    </delete>
</mapper>


