<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kdk.romanticrun.mapper.RomanticRunMapper">


    <insert id="insertUserRomanticRun" parameterType="com.kdk.romanticrun.pojo.RomanticRun">
        insert into freerun (uid, totalmile, rundate, runtime) values (#{uid}, #{totalMile}, #{runDate}, #{runTime})
    </insert>

    <select id="queryRomanticRunByUid" parameterType="com.kdk.romanticrun.pojo.RomanticRun" resultType="com.kdk.romanticrun.pojo.RomanticRun">
        select * from romanticrun where uid=#{uid}
    </select>

    <select id="queryRomanticRunForDay" parameterType="com.kdk.romanticrun.pojo.RomanticRun" resultType="com.kdk.romanticrun.pojo.RomanticRun">
        select * from romanticrun where to_days(now()) = to_days(rundate)
    </select>

    <select id="queryRomanticRunForWeek" parameterType="com.kdk.romanticrun.pojo.RomanticRun" resultType="com.kdk.romanticrun.pojo.RomanticRun">
        select * from romanticrun where to_days(now()) - to_days(rundate) &lt;= 7 AND to_days(now()) - to_days(rundate) >= 0
    </select>

    <select id="queryRomanticRunForMonth" parameterType="com.kdk.romanticrun.pojo.RomanticRun" resultType="com.kdk.romanticrun.pojo.RomanticRun">
        select * from romanticrun where to_days(now()) - to_days(rundate) &lt;= 30 AND to_days(now()) - to_days(rundate) >= 0
    </select>

</mapper>


